<h1>Welcome to Ngrx Pizza!</h1>
<hr>
<div class="panel">
  <div class="row" *ngFor="let pizza of pizzas$ | async">
    <div class="col">
      <img src="/assets/pizza.jpg" width="200px">
      <h3>Pizza ID: {{ pizza.id }}</h3>
      <p>Size: {{ pizza.size }}</p>

      <button class="btn btn-warning mr-3" *ngIf="pizza.size==='small'" (click)="updatePizza(pizza.id, 'large')">Upgrade to Large</button>
      <button class="btn btn-warning mr-3" *ngIf="pizza.size==='large'" (click)="updatePizza(pizza.id, 'small')">Downgrade to Small</button>
      <button class="btn btn-danger" (click)="deletePizza(pizza.id)">Delete Pizza</button>
      <hr>
    </div>
  </div>
  <button class="btn btn-success" (click)="createPizza()">Create new Pizza</button>
</div>

